:root {
  --main-color: #607d8b;
  --green-color: #009688;
  --blue-color: #2196f3;
  --red-color: #f44336;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}
h1 {
  padding: 20px;
  margin: 0 0 50px;
  text-align: center;
  background-color: var(--main-color);
  color: white;
}
.game-container {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .game-area {
    .inputs {
      > div {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        span {
          font-size: 26px;
          font-weight: bold;
          margin-right: 20px;
        }
        input {
          width: 60px;
          height: 60px;
          border: none;
          border-bottom: solid var(--main-color) 4px;
          font-size: 50px;
          font-weight: bold;
          text-align: center;
          color: var(--main-color);
          background-color: white;
          &.yes-in-place {
            background-color: var(--green-color);
            border-color: var(--green-color);
            color: white;
          }
          &.not-in-place {
            background-color: var(--blue-color);
            border-color: var(--blue-color);
            color: white;
          }
          &.no {
            background-color: var(--red-color);
            border-color: var(--red-color);
            color: white;
          }
          &:not(:last-of-type) {
            margin-right: 10px;
          }
          &:focus {
            outline: none;
          }
        }
        &.disabled-inputs {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }
    .control {
      margin-top: 30px;
      display: flex;
      gap: 15px;
      button {
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
      }
      .check-btn {
        background-color: var(--red-color);
        flex: 1;
      }
      .hint-btn {
        width: fit-content;
        background-color: var(--green-color);
      }
      .disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
    .msg.active {
      margin-top: 10px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      padding: 20px;
      background-color: var(--main-color);
      color: white;
      span {
        color: #ffeb3b;
        font-size: 22px;
      }
    }
  }
  .key-colors {
    h2 {
      padding: 18px;
      margin: 0 0 10px;
      text-align: center;
      font-size: 22px;
      background-color: var(--main-color);
      color: white;
    }
    .key-color {
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: white;
      margin-bottom: 10px;
      .key {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        &.in-place {
          background-color: var(--green-color);
        }
        &.not-in-place {
          background-color: var(--blue-color);
        }
        &.no {
          background-color: var(--red-color);
        }
      }
      .key-text {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

footer {
  padding: 20px;
  position: fixed;
  width: 100%;
  background-color: var(--main-color);
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  bottom: 0;
  left: 0;
  letter-spacing: 1px;
}
